<div class="container">
  <%
    const getPostYear = psg => psg.date.year();
    let prevYear = getPostYear(site.posts.data[0]), nowYear = null;
  %>
  <div class="collection-title">
    <h2>
      <span><%- prevYear %></span>
    </h2>
  </div>
  <% for(let psg of site.posts.data){ %>
  <%
    console.log(psg.date.year())
    nowYear = getPostYear(psg);
    if(nowYear !== prevYear){
      prevYear = nowYear;
  %>
    <div class="collection-title">
      <h2>
        <span><%- nowYear %></span>
      </h2>
    </div>
  <% } %>
    <div class="post-item" title="<%- psg.title %>">
      <span class="time-m-d"><%- psg.date.format("MM-DD") %></span>
      <a href="<%- url_for(psg.path) %>">
        <span><%- psg.title %></span>
      </a>
    </div>
  <% } %>
</div>
