<div class="container">
  <%
    const getPostYear = item => item.date.year();
    let prevYear = getPostYear(site.posts.data[0]), nowYear = null;
  %>
  <div class="collection-title">
    <h2>
      <span><%- prevYear %></span>
    </h2>
  </div>
  <% site.posts.sort('date', -1).each(function(item){ %>
  <%
    nowYear = getPostYear(item);
    if(nowYear !== prevYear){
      prevYear = nowYear;
  %>
    <div class="collection-title">
      <h2>
        <span><%- nowYear %></span>
      </h2>
    </div>
  <% } %>
    <div class="post-item" title="<%- item.title %>">
      <span class="time-m-d"><%- item.date.format("MM-DD") %></span>
      <a href="<%- url_for(item.path) %>">
        <span><%- item.title %></span>
      </a>
    </div>
  <% }) %>
</div>

