<!DOCTYPE html>
<html lang="zh-CN">

  <%- partial('_partial/header') %>

  <body>
    <div id="app">
      <%- partial('_partial/navigation') %>

      <div class="flex-container">
        <%- body %>
        <%- partial('_partial/footer') %>
      </div>

    </div>

    <%- partial("_partial/fancybox") %>
  </body>
</html>
