<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>,<%= config.keywords %>">
  <% } else if (config.keywords){ %>
  <meta name="keywords" content="<%= config.keywords %>">
  <%} %>
  <meta name="author" content="<%= config.author %>" />
  <meta name="description" content="<%= config.description %>" />
  <% if(is_home() && page.current > 1){ %>
    <meta name="robots" content="noindex" />
  <% } %>
  <%
    var title = page.title;

    if (is_archive()){
      title = 'archive_a';

      if (is_month()){
        title += ': ' + page.year + '/' + page.month;
      } else if (is_year()){
        title += ': ' + page.year;
      }
    } else if (is_category() || title === "categories"){
      title = "category"
    } else if (is_tag() || title === "tags"){
      title = "tag"
    } else if (title === "friends") {
      title = "friend"
    } else if (title === "about") {
      title = "about"
    }
  %>
  <title>
    <% if (title) { %>
      <%= __(title) %> 
      <% if (page.tag) { %> : <%= page.tag %><% } %>
      <% if (page.category) { %> : <%= page.category %><% } %>
      |
    <% } %>
     <%= config.title %>
  </title>

  <% if (theme.favicon.enable){ %>
    <link rel="apple-touch-icon" href="<%- theme.favicon.touch_icon %>">
    <link rel="icon" href="<%- theme.favicon.icon %>">
  <% } %>

  <!-- Raleway-Font -->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

  <!-- hexo site css -->
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1886449_67xjft27j1l.css" />
  <!-- 代码块风格 -->
  <% if (theme.codeBlock && theme.codeBlock.style && theme.codeBlock.style == 'mac-black'){ %>
    <%- css(['/css/figcaption/mac-block.css'])%>
  <% } %>

  <!-- jquery3.3.1 -->
  <% if (theme.cdns && theme.cdns.jquery && theme.cdns.jquery.enable) { %>
    <script defer type="text/javascript" src="<%- theme.cdns.jquery.url %>"></script>
  <% } else { %>
    <script defer type="text/javascript" src="/plugins/jquery.min.js"></script>
  <% } %>

  <!-- fancybox -->
  <% if (theme.cdns && theme.cdns.fancybox && theme.cdns.fancybox.enable) { %>
    <link href="<%- theme.cdns.fancybox.url.css %>" rel="stylesheet">
    <script defer type="text/javascript" src="<%- theme.cdns.fancybox.url.js %>"></script>
  <% } else { %>
    <link href="/plugins/jquery.fancybox.min.css" rel="stylesheet">
    <script defer type="text/javascript" src="/plugins/jquery.fancybox.min.js"></script>
  <% } %>
  <%- js(['/js/fancybox.js']) %>

  <% if(theme.gtag.enable) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%- theme.gtag.gtagkey %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%- theme.gtag.gtagkey %>');
    </script>
  <% } %>

  <% if (theme.footer.views && theme.footer.views.enable) { %>
    <script async src="<%- theme.footer.views.provider %>"></script>
  <% } %>

  <script>
    var html = document.documentElement
    const colorMode = localStorage.getItem('color-mode')
    if (colorMode) {
      document.documentElement.setAttribute('color-mode', colorMode)
    }
  </script>
</head>
