<div class="header">
  <div class="avatar">
    <a href="<%- theme.avatar.path %>"><img src="<%- theme.avatar.author_photo %>" alt=""></a>
    <div class="nickname"><a href="<%- theme.avatar.path %>"><%- theme.avatar.author_nickname %></a></div>
  </div>
  <div class="navbar">
    <ul>
      <%
        for(let item of theme.navbar) {
          if (item.enable) {
      %>
        <li class="nav-item" data-path="<%- item.path %>">
          <a href="<%- item.path %>"><%- item.name %></a>
        </li>
      <%
          }
        }
      %>
    </ul>
  </div>
</div>

<%- js(['/js/activeNav.js']) %>
